/* .blog-container {
  display: flex;
  width: 100%;
  margin: 60px auto;
}
.blogs-content {
  display: flex;
  flex-wrap: wrap;
}
.blog-content {
  flex: 0 0 70%;
  max-width: 70%;
  padding-right: 30px;
} */

.blog-container {
  display: flex;
  flex-wrap: wrap;
}

.blogs-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.post_item {
  position: relative;
  width: calc((100% - 5vw) / 3);
  padding-right: 15px;
  padding-left: 15px;
  /* flex: 0 0 calc((100% - 4vw) / 3); */
  /* max-width: calc((100% - 4vw) / 3); */
  margin-bottom: 2.5vw;
}
.post_thumbnail {
  position: relative;
  background: #000;
  overflow: hidden;
  line-height: 0;
}
.post_item img {
  max-width: inherit;
  width: 100%;
  will-change: tarnsform;
  transition: all 0.5s;
  height: auto;
  margin: 0;
}
.post_item:hover img {
  transform-origin: center;
  transform: scale(1.03);
  opacity: 0.8;
}
.post_item .post_item_caption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0 0 22px rgb(0 0 0 / 13%);
}
.post_item .post_item_caption h3 {
  margin-top: 0;
}
.post_item .post_item_title a {
  color: #363636;
}
.post_item_title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #363636;
}
.read_post_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
  background: rgb(0 0 0 / 40%);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.read_post_item .read_btn {
  padding: 15px;
  border: 2px solid #fff;
  opacity: 0;
  font-size: 14px;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post_item:hover .read_post_item {
  opacity: 1;
}
.post_item:hover .read_post_item .read_btn {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
.pagination a {
  padding: 5px;
  border: 1px solid #232323;
  color: #363636;
}
.pagination a:hover,
.pagination .page-numbers.current {
  padding: 5px;
  border: 1px solid #ab1a1f;
  color: #fff;
  background: #ab1a1f;
}
.pagination a.prev,
.pagination a.next {
  border: 1px solid transparent;
  color: #363636;
  font-size: 20px;
}
.pagination a.prev:hover,
.pagination a.next:hover {
  border: 1px solid transparent;
  color: #ab1a1f;
  background: transparent;
}
nav.pagination,
nav.woocommerce-pagination {
  text-align: center;
  width: 100%;
  margin: 3vw auto;
  /* margin-top: 70px; */
}
.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  text-decoration: none;
  color: #61686e;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1;
  margin: 0 10px;
}
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  background: #c4c9cd;
  color: #fff;
}
