.blog-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: max(7.5vh, 2.5rem) auto; */
  margin: 0 auto;
}

.blog-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-between;
  margin-bottom: max(2.5vh, 1.5rem);
}

.blog-list__item {
  position: relative;
  width: calc((100% - 5vw) / 3);
}
.blog-post__img {
  position: relative;
  background: #000;
  overflow: hidden;
  display: flex;
}

.blog-list__item img {
  max-width: inherit;
  width: 100%;
  will-change: tarnsform;
  transition: all 0.5s;
  height: auto;
  margin: 0;
}
.blog-list__item:hover img {
  transform-origin: center;
  transform: scale(1.03);
  opacity: 0.8;
}

.blog-post__description {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  padding: 2vw;
  background: #ffffff;
  box-shadow: 0 0 22px rgb(0 0 0 / 13%);
}

.blog-post__title {
  /* font-family: var(--base-font-family); */
  font-weight: 700;
  font-size: max(1vw, 15px);
  color: #363636;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.blog-post__description p {
  font-size: max(0.75vw, 14px);
  text-align: justify;

  font-family: "Montserrat", sans-serif;
}

.read_more_content {
  align-self: flex-end;
}

@media screen and (max-width: 1366px) {
  /* .blog-post__title {
    font-size: 1.25vw;
    text-align: justify;
  } */
  /* .blog-post__description p {
    font-size: 1vw;
  } */
}
@media screen and (max-width: 1080px) {
  .blog-list {
    gap: 5vw 3vw;
  }
  .blog-list__item {
    width: calc((100% - 6vw) / 2);
  }

  .blog-post__description {
    padding: 2vw 3.5vw;
    gap: 2.5vw;
  }

  .blog-post__title {
    font-size: max(1.65vw, 17px);
  }
  /* .blog-post__description p {
    font-size: 1.35vw;
  } */
}
@media screen and (max-width: 900px) {
  .blog-container {
    width: 85%;
  }
  .blog-list {
    gap: 5vw 3vw;
  }
  .blog-list__item {
    width: calc((100% - 4vw) / 2);
  }

  .blog-post__description {
    gap: 3vw;
  }

  /* .blog-post__title {
    font-size: 2.15vw;
  } */
  /* .blog-post__description p {
    font-size: 1.65vw;
  } */
}
@media screen and (max-width: 700px) {
  .blog-container {
    width: 94%;
  }
  .blog-list {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 7.5vw;
  }
  .blog-list__item {
    width: 85%;
  }

  .blog-post__description {
    gap: 4vw;
    padding: 5vw 7.5vw;
  }

  .blog-post__title {
    font-size: max(3.25vw, 17px);
  }
  /* .blog-post__description p {
    font-size: 2.25vw;
  } */
}
@media screen and (max-width: 500px) {
  .blog-list {
    gap: 7.5vw;
  }
  .blog-list__item {
    width: 90%;
  }

  .blog-post__description {
    gap: 5vw;
  }

  .read_more_content {
    --button-vertical-side-padding: 1rem;
    --button-font-size: max(0.7vw, 12px);

    align-self: initial;
  }

  /* .blog-post__title {
    font-size: 3.75vw;
  } */
  /* .blog-post__description p {
    font-size: 2.75vw;
  } */
}
