/* Main styles compare */
.compare-page--wrapper {
  margin: max(5vh, 2.5rem) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
}

.not_active {
  display: none !important;
  top: 100px;
  opacity: 0;
}

.td_img_wrap {
  height: 150px !important;
}
