.comments {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5vh;
}

.comments a {
  transition: color 0.3s ease-in;
}

.comments a:hover {
  color: #cd2122;
}
.comments__title,
.comment-reply-title {
  font-size: max(1.25vw, 16px);
  font-weight: 600;
  display: flex;
  gap: 0.75rem;
}
#cancel-comment-reply-link {
  font-size: 13px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.comment-body,
.meta_avtor {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: stretch;
}

.comment-author {
  display: flex;
  align-items: center;
  font-size: max(0.9vw, 14px);
  gap: 0.75vw;
}

.comment-meta,
.reply {
  font-size: max(0.7vw, 12px);
}

.comment-edit-link {
  font-size: max(0.6vw, 11px);
}

.comment-details {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment-details p {
  text-align: justify;
  font-size: max(0.9vw, 14px);
}

.children {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.reply {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment-respond {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment-form {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  gap: 1.5vh;
}

.comment-form input,
.comment-form textarea {
  --input-border: 1px solid #ccc;
  --input-base-color: #000;
}

.comment-form label {
  display: block;
  font-size: max(0.9vw, 14px);
}

.logged-in-as {
  font-size: max(0.75vw, 12px);
  text-align: justify;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment-form-cookies-consent {
  display: flex;
  gap: 1vh;
  align-items: center;
}

#wp-comment-cookies-consent {
  width: 1.5rem;
}

.form-submit {
  display: flex;
  width: 30%;
  max-width: 60%;
}

.acf-comment-fields.acf-fields.-clear > .acf-field {
  margin: initial;
}

.comment-notes {
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  .comment-body,
  .meta_avtor,
  .comment-details {
    gap: 1.25vh;
  }
}

@media screen and (max-width: 450px) {
  .form-submit {
    max-width: 100%;
    width: 100%;
  }
}
