/* Account page */
/* .account_container {
  padding: 60px 0;
} */
/* .account_container .woocommerce-MyAccount-navigation ul {
  padding: 0 30px;
  margin-bottom: 60px;
} */
.account_container a,
.woocommerce-MyAccount-content a {
  color: #363636;
}
.account_container .woocommerce-MyAccount-navigation ul li a {
  color: #363636;
  font-family: var(--base-font-family);
  font-weight: 600;
  font-size: max(1vw, 20px);
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}
.account_container .woocommerce-MyAccount-navigation ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #cd2122;
  bottom: 0;
  transition: width 0.15s cubic-bezier(0.68, 0, 0.265, 1);
}

.woocommerce-MyAccount-content a:not(.button):hover,
.account_container .woocommerce-MyAccount-navigation ul li a:hover {
  color: #c12126;
}
.account_container .woocommerce-MyAccount-navigation ul li a:hover:before {
  width: 100%;
}

.woocommerce-info a {
  color: white;
}
.dont_have_warranty {
  text-align: center;
  /* margin-bottom: 30px; */
  font-family: "Roboto", sans-serif;
  font-size: max(1vw, 20px);
  font-weight: 600;
}
.dont_have_warranty_btn {
  margin: 0 auto;
  display: flex;
  width: fit-content;
}

.dont_have_warranty_btn a {
  color: white;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
  min-height: 40px;
  min-width: 7.813vw;
  color: #fff;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background: #cd2122;
  border: 2px solid #cd2122;
  box-sizing: border-box;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

.woocommerce-Message--info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.woocommerce-Message--info a {
  margin-top: 30px;
}
.woocommerce-subscriptions .woocommerce-Message--info {
  flex-direction: column;
}
.woocommerce-MyAccount-orders {
  width: 100%;
}

.woocommerce-orders-table__row {
  border: 1px solid rgb(171 26 31 / 20%);
}

.woocommerce-orders-table__header,
.woocommerce-orders-table__cell {
  text-align: center;
  font-size: max(1vw, 14px);
  padding: 0.75rem 0.5rem;
  font-weight: 600;
}

.woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-actions a {
  color: white;
}
.woocommerce-view-order .woocommerce-order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
}
.woocommerce-view-order .woocommerce-customer-details {
  display: none;
}
.woocommerce-view-order .woocommerce-MyAccount-content p {
  text-align: center;
}

.wooccm-file-button {
  min-width: 200px !important;
  width: auto !important;
  margin-top: 20px;
}
.wooccm-type-file {
  display: flex;
  flex-direction: column;
}
p button {
  min-width: 200px !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.woocommerce .woocommerce-checkout {
  margin: 60px 0;
  padding-bottom: 30px;
}
.woocommerce h3 {
  font-family: var(--base-font-family);
  font-weight: 700;
  font-size: 26px;
  margin: 10px 0;
}
.woocommerce form .form-row select {
  border: 1px solid #dcdcdc;
  background-color: rgba(255, 255, 255, 0.12);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  width: 100%;

  color: #353535;
  font-size: 14px;
  padding: 12px 15px;

  transition: all 0.3s ease;
}
.woocommerce form .form-row textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.12);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  width: 100%;

  border-radius: 0;
  color: #353535;
  font-size: max(0.75vw, 14px);
  padding: 0.75rem 1rem;

  transition: all 0.3s ease;
}
/* WARRANTY */
/* .inf_warranty {
  width: 20%;
  height: 80px;
  display: flex;
  align-items: center;
  border-collapse: collapse;
  margin: 0 auto;
  flex-direction: column;
} */
/* .inf_warranty span {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
} */
.warranty__title {
  font-family: var(--base-font-family);
  font-weight: 700;
  text-transform: uppercase;
  font-size: max(2.4vw, 26px);
  /* color: #000000; */
  letter-spacing: 0.05em;
  text-shadow: 0em 0.18em 0.27em rgb(0 0 0 / 24%);
  text-align: center;
  width: 100%;
}
.warranty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  /* flex-wrap: wrap; */
}

.warranty-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.warranty-info__item {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warranty-info__item span {
  padding: 0.75rem 0.2rem;
  width: 100%;
  font-size: max(0.9vw, 13px);
  text-align: center;
  align-items: center;
  justify-content: center;

  display: flex;
}

.warranty-info__item span:nth-child(1) {
  /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; */
  background-color: #ddd;
}

/* MY */

.account_container {
  margin: max(7.5vh, 2.5rem) auto;
}

.account_container .woocommerce-MyAccount-navigation ul {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.account_container .woocommerce-MyAccount-navigation ul li a {
  padding: 0;
  margin: 0;
}
.is-active a {
  color: #c12126 !important;
}
.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
  /* float: none; */
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: max(0.9vw, 18px);
  padding-top: 1.5rem;
}

.woocommerce-MyAccount-content h2 {
  font-weight: 600;
}
/* MY ACCOUNT */
.my-account-content .woocommerce {
  display: flex;
}
.my-account-content .woocommerce-MyAccount-navigation {
  width: 25%;
}
.my-account-content .woocommerce-MyAccount-content {
  width: 75%;
}
.my-account-content .woocommerce-MyAccount-content .woocommerce-form-row {
  padding-bottom: 10px;
}
.my-account-content .woocommerce-MyAccount-navigation ul li.is-active a {
  color: #c12126;
}
.account_container .woocommerce-MyAccount-navigation ul li.is-active a:before {
  width: 100%;
}
.my-account-content .hello_user {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0;
}
.my-account-content .hello_user span {
  color: #c12126;
}
.my-account-content #user_equipment_field {
  margin: 30px 0;
}
.my-account-content legend.password_change,
.my-account-content #user_equipment_field label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
/* end */

.woocommerce-MyAccount-content .woocommerce-notices-wrapper {
  position: relative;
  left: initial;
  top: initial;
  transform: initial;
  width: 100%;
}

.hide-tabs-button {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 0);
  width: 2.25rem;
  height: 2.25rem;
  z-index: 3;
}

.hide-tabs-button svg {
  fill: #000;
  stroke: none;
  transition: transform 0.3s ease-in, fill 0.3s ease-in;
}
/* MY ACCOUNT */
/* ORDER */

.woocommerce-OrderUpdates,
.woocommerce-OrderUpdate {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.25rem;
}

.woocommerce-OrderUpdates {
  flex-direction: column;
}

.woocommerce-OrderUpdate {
  justify-content: space-between;
  border: 1px solid rgb(171 26 31 / 20%);
  padding: 0.5rem 1rem;
}

.woocommerce-table__product-name {
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.woocommerce-OrderUpdate-description {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.woocommerce-OrderUpdate-description p:first-child {
  color: #cd2122;
}

.woocommerce-table--order-details th,
.woocommerce-table--order-details td {
  padding: 0.5rem 1rem;
  text-align: center;
}

.woocommerce-table--order-details tr th:first-child {
  text-align: left;
}

/* ACCOUNT DETAILS */
.woocommerce h3 {
  margin: 0;
}

.edit-account,
.edit-account .form-row,
.woocommerce-form-row,
.edit-account fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.edit-account legend {
  font-size: max(1vw, 18px);
  font-weight: 600;
  margin: 0.75rem 0;
}
.woocommerce-form-row span {
  font-size: max(0.8vw, 14px);
}
.woocommerce-Address,
.woocommerce-Address-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.woocommerce-password-strength {
  font-size: max(0.95vw, 16px);
}

.woocommerce-password-hint {
  font-size: max(0.8vw, 14px);
}

@media screen and (max-width: 1080px) {
  .warranty-info__item span {
    min-height: 3.75rem;
  }
}

@media screen and (max-width: 750px) {
  .woocommerce-MyAccount-navigation ul {
    flex-direction: column;
    position: relative;
  }
  .hide-tabs-button {
    display: flex;
  }

  .hide-tabs-button.hide-tabs-button--active svg {
    fill: #cd2122;
    transform: rotate(180deg);
  }

  .woocommerce-MyAccount-navigation-link {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    height: 100%;
    position: relative;
    transition: all 0.25s ease-in;
  }

  .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--disabled {
    /* display: none; */
    opacity: 0;
    position: absolute;
    /* left: 50%; */
    height: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  .account_container .woocommerce-MyAccount-navigation ul li a {
    font-size: max(4vw, 26px);
  }

  .woocommerce-orders-table thead {
    display: none;
  }

  .woocommerce-orders-table__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }

  .woocommerce-orders-table__cell {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    border: 1px solid rgb(171 26 31 / 20%);
    font-size: max(0.9vw, 14px);
  }
  .woocommerce-orders-table__cell::before {
    content: attr(data-title) ": ";
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 10rem;
  }

  .woocommerce-Price-amount.amount {
    margin-left: auto;
    font-size: max(0.9vw, 14px);
  }

  .woocommerce-OrderUpdate {
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.25rem;
  }
}
@media screen and (max-width: 700px) {
  .warranty-info {
    flex-wrap: wrap;
  }

  .warranty-info__item {
    width: 50%;
  }
  .warranty-info__item:last-child {
    width: 100%;
  }

  .warranty-info__item span {
    min-height: auto;
    font-size: max(2.25vw, 14px);
  }
}
@media screen and (max-width: 500px) {
  .warranty-info {
    flex-wrap: initial;
    flex-direction: column;
  }

  .warranty-info__item {
    width: 100%;
  }
  .woocommerce-view-order .woocommerce-MyAccount-content p,
  .woocommerce-table--order-details th,
  .woocommerce-table--order-details td {
    font-size: 15px;
  }
  .order-again {
    width: 100%;
  }
}
