.event_block {
  background: #efefef;
  width: 100%;
  display: flex;
  flex-direction: row;

  position: relative;
}
.event_image {
  width: 55%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.event_block:nth-child(even) {
  flex-direction: row-reverse;
}
.events_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
}
.coming_soon_text {
  display: none;
}
.coming_soon_text_top {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 50;

  display: inline-block;
  padding: 10px 18px;
  background: #f8f8f8;
  color: #cd2122;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 3px;
}
.event_info {
  width: 45%;
  padding: 3.5vw;
  position: relative;
}
.event_info_cont {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 3vw;
  left: 0;
  top: 50%;
  transform: translate(-25%, -50%);
  box-shadow: 0 0 46.74px 10.26px rgb(106 106 106 / 10%);
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.event_block:nth-child(even) .event_info_cont {
  transform: translate(25%, -50%);
}
.event_title {
  padding: 0 1.5vw;
  font-weight: 700;
  color: #353535;
  font-family: var(--base-font-family);
  font-weight: 700;
  font-size: max(2vw, 20px);
  margin: 0;
}
.event_separator {
  width: 100%;
  height: 2px;
  background: #f8f8f8;
}
.events_date_desc {
  padding: 0 1.5vw;
  display: flex;
  gap: 1.5vw;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.event_dates,
.event_description--wrapper {
  position: relative;
  color: #353535;
  font-size: max(0.85vw, 14px);
  display: flex;
  gap: 0.5vw;
  flex-direction: row;
  /* align-items: center; */
}

.svg-wrapper {
  height: 20px;
  width: 20px;
}

.svg-location {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg data-name='10-location' id='_10-location' stroke='red' fill-opacity='0'%3E%3Cpath d='M27,12A11,11,0,0,0,5,12C5,22,16,31,16,31S27,22,27,12Z' /%3E%3Ccircle cx='16' cy='12' r='5' stroke='red' /%3E%3C/g%3E%3C/svg%3E");
}

.svg-event {
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 500 500' height='50px' id='Layer_1' version='1.1' viewBox='0 0 500 500' width='50px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='44.131' x2='455.868' y1='90.968' y2='90.968'/%3E%3Cpath d=' M455.868,90.968c10.515,0,19.132,8.617,19.132,19.139' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='475' x2='475' y1='110.107' y2='434.041'/%3E%3Cpath d=' M475,434.041c0,10.565-8.617,19.183-19.132,19.183' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='455.868' x2='44.131' y1='453.224' y2='453.224'/%3E%3Cpath d=' M44.131,453.224c-10.522,0-19.131-8.616-19.131-19.183' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='25' x2='25' y1='434.041' y2='110.107'/%3E%3Cpath d=' M25,110.107c0-10.522,8.609-19.139,19.131-19.139' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cg%3E%3Cg%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='114.718' x2='114.718' y1='46.777' y2='124.947'/%3E%3Cpath d=' M114.718,165.753c10.531,0,19.13-8.633,19.13-19.139c0-10.532-8.599-19.148-19.13-19.148c-10.532,0-19.123,8.617-19.123,19.148 C95.595,157.121,104.187,165.753,114.718,165.753' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3C/g%3E%3Cg%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='385.291' x2='385.291' y1='46.777' y2='127.466'/%3E%3Cpath d=' M385.291,165.753c10.514,0,19.097-8.633,19.097-19.139c0-10.532-8.583-19.148-19.097-19.148 c-10.549,0-19.132,8.617-19.132,19.148C366.159,157.121,374.742,165.753,385.291,165.753' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3C/g%3E%3C/g%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='75.23' x2='424.779' y1='212.75' y2='212.75'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='85.853' x2='102.826' y1='261.477' y2='261.477'/%3E%3Cpath d=' M102.826,261.477c5.862,0,10.649,4.771,10.649,10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='113.475' x2='113.475' y1='272.091' y2='289.089'/%3E%3Cpath d=' M113.475,289.089c0,5.828-4.787,10.632-10.649,10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='102.826' x2='85.853' y1='299.721' y2='299.721'/%3E%3Cpath d=' M85.853,299.721c-5.844,0-10.623-4.804-10.623-10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='75.23' x2='75.23' y1='289.089' y2='272.091'/%3E%3Cpath d=' M75.23,272.091c0-5.845,4.779-10.614,10.623-10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='287.268' x2='304.248' y1='261.477' y2='261.477'/%3E%3Cpath d=' M304.248,261.477c5.846,0,10.633,4.771,10.633,10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='314.881' x2='314.881' y1='272.091' y2='289.089'/%3E%3Cpath d=' M314.881,289.089c0,5.828-4.787,10.632-10.633,10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='304.248' x2='287.268' y1='299.721' y2='299.721'/%3E%3Cpath d=' M287.268,299.721c-5.846,0-10.633-4.804-10.633-10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='276.635' x2='276.635' y1='289.089' y2='272.091'/%3E%3Cpath d=' M276.635,272.091c0-5.845,4.787-10.614,10.633-10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='387.979' x2='404.977' y1='261.477' y2='261.477'/%3E%3Cpath d=' M404.977,261.477c5.845,0,10.615,4.771,10.615,10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='415.592' x2='415.592' y1='272.091' y2='289.089'/%3E%3Cpath d=' M415.592,289.089c0,5.828-4.771,10.632-10.615,10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='404.977' x2='387.979' y1='299.721' y2='299.721'/%3E%3Cpath d=' M387.979,299.721c-5.846,0-10.614-4.804-10.614-10.632' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='377.363' x2='377.363' y1='289.089' y2='272.091'/%3E%3Cpath d=' M377.363,272.091c0-5.845,4.77-10.614,10.615-10.614' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='85.853' x2='102.826' y1='359.802' y2='359.802'/%3E%3Cpath d=' M102.826,359.802c5.862,0,10.649,4.786,10.649,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='113.475' x2='113.475' y1='370.417' y2='387.432'/%3E%3Cpath d=' M113.475,387.432c0,5.828-4.787,10.615-10.649,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='102.826' x2='85.853' y1='398.047' y2='398.047'/%3E%3Cpath d=' M85.853,398.047c-5.844,0-10.623-4.787-10.623-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='75.23' x2='75.23' y1='387.432' y2='370.417'/%3E%3Cpath d=' M75.23,370.417c0-5.829,4.779-10.615,10.623-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='186.556' x2='203.545' y1='359.802' y2='359.802'/%3E%3Cpath d=' M203.545,359.802c5.854,0,10.632,4.786,10.632,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='214.178' x2='214.178' y1='370.417' y2='387.432'/%3E%3Cpath d=' M214.178,387.432c0,5.828-4.778,10.615-10.632,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='203.545' x2='186.556' y1='398.047' y2='398.047'/%3E%3Cpath d=' M186.556,398.047c-5.836,0-10.632-4.787-10.632-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='175.924' x2='175.924' y1='387.432' y2='370.417'/%3E%3Cpath d=' M175.924,370.417c0-5.829,4.795-10.615,10.632-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='287.268' x2='304.248' y1='359.802' y2='359.802'/%3E%3Cpath d=' M304.248,359.802c5.846,0,10.633,4.786,10.633,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='314.881' x2='314.881' y1='370.417' y2='387.432'/%3E%3Cpath d=' M314.881,387.432c0,5.828-4.787,10.615-10.633,10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='304.248' x2='287.268' y1='398.047' y2='398.047'/%3E%3Cpath d=' M287.268,398.047c-5.846,0-10.633-4.787-10.633-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='276.635' x2='276.635' y1='387.432' y2='370.417'/%3E%3Cpath d=' M276.635,370.417c0-5.829,4.787-10.615,10.633-10.615' fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10'/%3E%3Cg%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='179.955' x2='194.114' y1='277.802' y2='290.803'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='220.082' x2='194.114' y1='262.45' y2='290.803'/%3E%3C/g%3E%3Cg%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='384.232' x2='398.392' y1='376.145' y2='389.128'/%3E%3Cline fill='none' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2.6131' stroke-width='10' x1='424.359' x2='398.392' y1='360.776' y2='389.128'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.machines_for_exhibition,
.event_description {
  position: relative;
  color: #353535;
  font-size: max(0.85vw, 14px);
  display: flex;
  flex-direction: column;
}
.machines_for_exhibition::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 23px;
  content: "";
  font-size: 20px;
  color: #cd2122;
}

/* .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
}

.svg-bg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.svg-wrapper svg {
  max-width: 100%;
  height: auto;
  fill: #fff;
  stroke: #cd2122;
} */

/* .event_dates::before, */
/* .event_description::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 20px;
  font-family: "anatol";
  content: "\E801";
  font-size: 20px;
  color: #cd2122;
} */
/* .event_description::before {
  content: "\E824";
} */
/* .machines_for_exhibition::before {
  background: url(../wp-content/themes/anatol/css-new/images/machine_image.svg)
    no-repeat;
  background-size: contain;
} */
.card_subinfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  background: #f8f8f8;
  align-content: center;
  padding: 1vh 1.5vw;
  position: relative;
}
.card_subinfo:after {
  content: "";
  background-color: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 60%;
  display: block;
  transform: translate(-50%, -50%);
}
.card_subinfo .cs_logo,
.card_subinfo .cs_website {
  width: 40%;
}
.card_subinfo .cs_website,
.card_subinfo .cs_photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
}
.card_subinfo .gallery-link a,
.card_subinfo .cs_website,
.card_subinfo .cs_website,
.card_subinfo .cs_photos,
.card_subinfo .cs_photos a {
  text-align: center;
  font-weight: 700;
  font-size: max(1vw, 13px);
  text-decoration: none !important;
  color: #353535;
}
.card_subinfo .gallery-link a::before,
.card_subinfo .cs_website::before {
  display: inline-block;
  /* font-family: "anatol";
  content: "\E82A";
  font-size: 20px;
  color: #cd2122; */
  content: "";
  margin-right: 10px;
  height: 1.25rem;
  width: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.29168 6C3.86656 7.59227 3 9.69494 3 12C3 12.6874 3.07706 13.3568 3.22302 14M5.29168 6C6.93964 4.15875 9.3345 3 12 3C16.2832 3 19.8675 5.99202 20.777 10M5.29168 6H12M20.777 10C20.9229 10.6432 21 11.3126 21 12C21 16.9706 16.9706 21 12 21C9.3345 21 6.93964 19.8412 5.29168 18M20.777 10H15M3.22302 14H13M3.22302 14C3.5665 15.5137 4.29154 16.8826 5.29168 18M5.29168 18H11M12 10H10' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath d='M7.00073 10.0007L7.00003 10' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath d='M16.0007 14.0007L16 14' stroke='%23cd2122' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}
.card_subinfo .gallery-link a::before {
  content: "\E831";
}
.card_subinfo .cs_logo img {
  width: 100%;
}
.event:nth-child(1) .coming_soon_text_top {
  display: none;
}
.event:nth-child(1) .card {
  margin-bottom: 0;
  margin-right: -46px;
}
.event:nth-child(1) .card-image img {
  width: 674px;
  height: 375px;
}
.event:nth-child(1) .card-image {
  width: 674px;
}
.event:nth-child(1).event_future .coming_soon_text::before {
  content: "";
  display: block;
  background: #cd2122;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 56px;
  bottom: 22px;
}
.card_subinfo .cs_photos {
  display: none;
}

@media screen and (max-width: 1080px) {
  .event_info {
    padding: 0;
    width: 65%;
  }
  .event_info_cont {
    transform: translate(0, 0);
    padding: 3.5vw;
    top: 0;
    gap: 2vw;
  }

  .event_block:nth-child(even) .event_info_cont {
    transform: translate(0, 0);
  }

  .event_title {
    font-size: max(3vw, 24px);
  }

  .card_subinfo .gallery-link a,
  .card_subinfo .cs_website,
  .card_subinfo .cs_website,
  .card_subinfo .cs_photos,
  .card_subinfo .cs_photos a {
    font-size: max(1.75vw, 15px);
  }
}
@media screen and (max-width: 800px) {
  .event_info {
    width: 75%;
  }
  .event_info_cont {
    padding: 3.5vw;
    gap: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .events-content {
    padding: 2.5vh 0;
  }
  .event_block {
    flex-direction: column;
    align-items: center;
    margin: max(2.5vh, 1.5rem) auto;
    width: 75%;
    /* box-shadow: 0 1px 50px 2.5px rgba(255, 0, 0, 0.5); */
  }
  .event_block:nth-child(even) {
    flex-direction: column;
  }
  .event_image {
    /* width: 75%; */
    height: 27.5vh;
  }

  .event_info,
  .event_image {
    width: 100%;
  }
  .event_info_cont {
    padding: 5vw;
    gap: 3.5vw;
  }

  .event_title {
    font-size: max(4.25vw, 24px);
  }

  .machines_for_exhibition,
  .event_dates,
  .event_description {
    font-size: max(2.75vw, 18px);
  }

  .events_date_desc {
    gap: 3vw;
  }
  .event_description {
    gap: 0.25vw;
  }
}

@media screen and (max-width: 550px) {
  .event_block {
    width: 90%;
  }

  .event_info_cont {
    gap: 5vw;
  }

  .event_title {
    text-align: center;
    font-size: max(5.25vw, 18px);
  }
  .machines_for_exhibition,
  .event_dates,
  .event_description {
    font-size: max(3.5vw, 14px);
  }

  .card_subinfo .gallery-link a,
  .card_subinfo .cs_website,
  .card_subinfo .cs_website,
  .card_subinfo .cs_photos,
  .card_subinfo .cs_photos a {
    font-size: max(3.5vw, 14px);
  }
}

@media screen and (max-width: 400px) {
  .card_subinfo .cs_logo,
  .card_subinfo .cs_website {
    width: 47.5%;
  }
}

@media screen and (min-width: 400px) and (max-width: 1080px) and (orientation: landscape) {
  .event_description--wrapper,
  .machines_for_exhibition,
  .event_dates,
  .event_description {
    font-size: max(1.5vw, 16px);
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) and (orientation: landscape) {
  .event_info_cont,
  .events_date_desc {
    gap: 1rem;
  }
  .card_subinfo .cs_logo,
  .card_subinfo .cs_website {
    width: 35%;
  }
}
