.products_content {
  display: grid;
  grid-template-columns: 20% calc(80% - 3vw);
}
.product_sidebar {
  width: 100%;
  padding: 0;
}

.product_content_row {
  width: 100%;
}

.woocommerce {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 2.5vh;
}

.page-header {
  font-size: max(3vw, 22px);
  font-family: var(--base-font-family), sans-serif;
  font-weight: 700;
}

.woocommerce table.shop_table {
  border: none;
  margin: 0;
  text-align: initial;
  width: 100%;
  border-collapse: initial;
  border-radius: none;
}

/* .woocommerce img,
.woocommerce-page img {
  max-width: 20%;
} */

td a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-thumbnail {
  max-width: 5rem;
}

.woocommerce table.shop_table td {
  text-align: center;
}

.woocommerce table.shop_table td.actions {
  text-align: right;
}

/* Cart Total */

.cart-collaterals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  justify-content: center;
  float: initial;
  border-collapse: separate;
  margin: 0;
}

/* #add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0;
} */

.wc-proceed-to-checkout {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  justify-content: center;
  align-items: stretch;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  padding: 0.75rem 1.25rem;
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
  padding: 0.75rem 1.25rem;
}

.woocommerce a.remove {
  margin: auto;
}

.woocommerce-shipping-calculator {
  margin-left: auto;
}

td.actions .button {
  margin-left: auto;
  padding: 0.75rem 1.25rem;
}

@media screen and (max-width: 900px) {
  .products_content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 770px) {
  .cart_content {
    width: 90%;
  }

  .woocommerce {
    gap: 2.5vh;
  }
  .woocommerce .cart .button,
  .woocommerce .cart input.button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child,
  .woocommerce-page
    table.shop_table_responsive
    tbody
    tr:first-child
    td:first-child {
    display: none;
  }

  td.product-thumbnail {
    display: none;
  }

  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    display: flex;
    text-align: initial !important;
    align-items: center;
    justify-content: space-between;
  }

  .woocommerce table.shop_table_responsive tr td.product-thumbnail,
  .woocommerce-page table.shop_table_responsive tr td.product-thumbnail {
    display: none;
  }

  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
  }

  .woocommerce-shipping-calculator {
    margin: initial;
  }
}

@media screen and (max-width: 700px) {
  .shop_table .woocommerce-shipping-totals.shipping td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .woocommerce #respond input#submit.disabled,
  .woocommerce #respond input#submit:disabled,
  .woocommerce #respond input#submit:disabled[disabled],
  .woocommerce a.button.disabled,
  .woocommerce a.button:disabled,
  .woocommerce a.button:disabled[disabled],
  .woocommerce button.button.disabled,
  .woocommerce button.button:disabled,
  .woocommerce button.button:disabled[disabled],
  .woocommerce input.button.disabled,
  .woocommerce input.button:disabled,
  .woocommerce input.button:disabled[disabled] {
    padding: 1rem 1.25rem;
    font-size: 20px;
  }
}
