.single_product_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

.single_product_cont__item,
.half_right,
.half_left {
  width: calc((100% - 10vw) / 2);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
}

.half_left {
  align-items: center;
}

.equipment_thumbnail {
  max-width: 90%;
}

/* Hide arrows from number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.product_single_info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: space-between;
}

.product_title {
  font-size: max(2vw, 26px);
  color: #353535;
  font-family: var(--base-font-family), sans-serif;
  font-weight: 700;
  position: relative;
}

.attributes_product {
  display: flex;
  flex-direction: column;
  gap: 0.35vh;
}

.attr_line {
  display: flex;
  gap: 0.35vw;
}

.flex-price-box {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
}

.quantity {
  display: flex;
  gap: 0.35vw;
  /* justify-content: space-between; */
  align-items: center;
  width: 60%;
  margin: auto;
}

.qty_button {
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 2rem;
}

.qty_button:hover,
.qty_button:focus-visible {
  color: #ab1a1f;
}

.woocommerce .quantity .qty {
  border-radius: 3px;
  width: 2rem;
}

/* Product description */

.product_description {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.75vh;
  font-size: max(0.8vw, 14px);
}

.product_description h2 {
  font-size: max(1vw, 16px);
  font-weight: 600;
}

.product_description ul {
  list-style: initial;
  padding-left: min(1.75vw, 1.5rem);
}

.uppsells_products .related-products--wrapper {
  margin-top: 0;
}

/* Modal window */
.modal-img-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 75%);
  z-index: 999;
  transform: translate(-50%, -50%);
}

.modal-img-content {
  max-width: 100%;
  width: 37.5%;
  margin: auto;
}

.modal-img-wrapper img {
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1080px) {
  .quantity {
    width: 100%;
    margin: initial;
    justify-content: flex-end;
  }
}
