.product_content_row {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.5vh;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.products_content {
  /* display: flex;
  gap: max(5vw, 1rem); */
  margin: max(7.5vh, 2.5rem) auto;
  display: grid;
  grid-template-columns: 15% calc(85% - 5vw);
  grid-gap: 5vw;
}

.equipments_list {
  /* justify-content: space-between;
  gap: 2vw;
  margin-bottom: max(7.5vh, 2.5rem);

  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; */

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5vw, 1fr));
  grid-gap: 1.5vw;
}

.product_item {
  width: 100%;
  /* width: calc((100% - 5vw) / 3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid #f4f4f4;
  transition: all 0.3s ease-in;
  text-align: center;
  color: #555555;
  gap: 1vw;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.product_item:hover {
  box-shadow: 0 0 22px rgb(0 0 0 / 10%);
}

.product_item:hover .image_part img {
  transform-origin: center;
  transform: scale(1.03);
}

.image_part {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  transition: all 0.5s;
  position: relative;
  align-items: center;
  justify-content: center;
}

.image_part img {
  max-width: 65%;
  width: 100%;
  height: auto;
  object-fit: cover;
  will-change: transform;
  transition: all 0.5s;
}

.content_part {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.product_box_title {
  font-size: max(1vw, 17px);
  font-weight: bold;
}

.amount {
  font-weight: bold;
  color: #ab1a1f;
  font-size: 20px;
}

.product_item:hover .add_to_cart {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #c12126;
  border-color: #c12126;
  color: #fff;
}
.product_item .add_to_cart:hover {
  background-color: #fff;
  border-color: #c12126;
  color: #c12126;
}

.page-pagination {
  align-self: center;
}

.widget-mob-search {
  display: none;
}

/* Buttons on Woocommerce */

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  /* --button-width: auto;
    --button-horizontall-side-padding: 1.75rem;
    --button-vertical-side-padding: 0.75rem;
    --button-background-color: #ab1a1f;
    --button-base-color: #fff;
    --button-font-size: max(0.75vw, 12px);
    --button-box-shadow: none; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: var(--button-vertical-side-padding)
    var(--button-horizontall-side-padding);
  color: var(--button-base-color);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: var(--button-font-size);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: var(--button-background-color);
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  box-shadow: var(--button-box-shadow);
  border: none;
  width: var(--button-width);
  line-height: 1;
  border-radius: initial;
}

.woocommerce a.subscribe-button,
.footer_subscribe .subscribe-button {
  --button-background-color: transparent;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #fff;
  border-color: #ab1a1f;
  color: #ab1a1f;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Cart List */
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: initial;
  width: 100%;
}

.hide-sidebar {
  display: none;
}

@media screen and (max-width: 1080px) {
  .equipments_list {
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  }

  .products_content {
    /* grid-template-columns: 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products_content .related-products--wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .products_content .related-products-list__item {
    min-height: initial;
  }

  .product_sidebar {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    position: fixed;
    top: 50%;
    left: 0;
    /* transform: translate(0, -50%); */
    z-index: 99;
    height: 100vh;
    background-color: rgb(255 0 0 / 20%);
    transform: translate(-100%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .product_sidebar.sidebar--active {
    transform: translate(0%, -50%);
    opacity: 1;
    visibility: visible;
  }

  .hide-sidebar {
    display: flex;
    position: fixed;
    top: 50vh;
    left: 0;
    padding: 1rem 0.35rem;

    z-index: 99;
    background-color: #ab1a1f;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in;
    writing-mode: vertical-rl;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
  }

  .hide-sidebar--active {
    left: 15rem;
  }
}

@media screen and (max-width: 800px) {
  /* .products_content {
    flex-direction: column;
    align-items: center;
  } */
  .equipments_list {
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
  .product_content_row {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .equipments_list {
    grid-template-columns: 1fr;
  }
}

/* Product Single */
