.product_content_row {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.5vh;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.products_content {
  /* display: flex;
  gap: max(5vw, 1rem); */
  margin: max(7.5vh, 2.5rem) auto;
  display: grid;
  grid-template-columns: 17.5% calc(82.5% - 5vw);
  grid-gap: 5vw;
}

.equipment_info {
  position: relative;
}

.equipments_list {
  /* justify-content: space-between;
  gap: 2vw;
  margin-bottom: max(7.5vh, 2.5rem);

  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; */

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5vw, 1fr));
  grid-gap: 1.5vw;
}

.product_item {
  width: 100%;
  /* width: calc((100% - 5vw) / 3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid #f4f4f4;
  transition: all 0.3s ease-in;
  text-align: center;
  color: #555555;
  gap: 1vw;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.product_item:hover {
  box-shadow: 0 0 22px rgb(0 0 0 / 10%);
}

.product_item:hover .image_part img {
  transform-origin: center;
  transform: scale(1.03);
}

.image_part {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  transition: all 0.5s;
  position: relative;
  align-items: center;
  justify-content: center;
}

.image_part img {
  max-width: 65%;
  width: 100%;
  height: auto;
  object-fit: cover;
  will-change: transform;
  transition: all 0.5s;
}

.content_part {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.product_box_title {
  font-size: max(1vw, 15px);
  font-weight: bold;
}

.amount {
  font-weight: bold;
  color: #ab1a1f;
  font-size: max(1vw, 18px);
}

.id_pr_number {
  font-size: max(0.85vw, 14px);
}

.product_item:hover .add_to_cart {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #c12126;
  border-color: #c12126;
  color: #fff;
}
.product_item .add_to_cart:hover {
  background-color: #fff;
  border-color: #c12126;
  color: #c12126;
}

.page-pagination {
  align-self: center;
}

.widget-mob-search {
  display: none;
}

/* Buttons on Woocommerce */

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  /* --button-width: auto;
    --button-horizontall-side-padding: 1.75rem;
    --button-vertical-side-padding: 0.75rem;
    --button-background-color: #ab1a1f;
    --button-base-color: #fff;
    --button-font-size: max(0.75vw, 12px);
    --button-box-shadow: none; */
  /* --button-width: 100%; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: var(--button-vertical-side-padding)
    var(--button-horizontall-side-padding);
  color: var(--button-base-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: var(--button-font-size);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: var(--button-background-color);
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  box-shadow: var(--button-box-shadow);
  border: none;
  width: var(--button-width);
  line-height: 1;
  border-radius: initial;
  align-self: flex-start;
}

.woocommerce a.subscribe-button,
.footer_subscribe .subscribe-button {
  --button-background-color: transparent;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #fff;
  border-color: #ab1a1f;
  color: #ab1a1f;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Cart List */
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: initial;
  width: 100%;
}

/* .hide-sidebar {
  display: none;
}

.product_sidebar {
  position: sticky;
  top: 0;
} */

.woocommerce-notices-wrapper {
  width: 75%;
  margin: 0 auto;
  /* padding: 1rem 2rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.woocommerce-message {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
  line-height: 1;
  font-size: max(0.8vw, 14px);

  padding: 1rem 2rem;
}
.woocommerce-message::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ab1a1f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url("data:image/svg+xml,%3Csvg height='15px' version='1.1' viewBox='0 0 18 15' width='18px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg fill='%23ab1a1f' fill-rule='evenodd' id='Page-1' stroke='%23ffffff' stroke-width='1'%3E%3Cg fill='%23ffffff' id='Core' transform='translate(-423.000000, -47.000000)'%3E%3Cg id='check' transform='translate(423.000000, 47.500000)'%3E%3Cpath d='M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  top: 50%;
  left: 0;
  content: "";
  transform: translate(0, -50%);
  border-radius: 50%;
}

.cart_content .woocommerce-message {
  flex-direction: row;
  justify-content: flex-start;
}

.cart_content a.restore-item {
  color: #ab1a1f;
}

/* MY ACCOUNT */
/* ORDERS */

.woocommerce-orders-table tr {
  border: 1px solid rgb(171 26 31 / 20%);
  /* border-bottom: 1px solid #ab1a1f; */
}
.page-template-page-my-account
  .woocommerce-MyAccount-orders
  .woocommerce-orders-table__header,
.page-template-page-my-account
  .woocommerce-MyAccount-orders
  .woocommerce-orders-table__cell {
  /* border: 1px solid; */
  font-weight: 600;
  padding: 0.75rem 0.5rem;
}

/* ACCOUNT DETAILS */
.woocommerce h3 {
  margin: 0;
}

.edit-account,
.edit-account .form-row,
.woocommerce-form-row,
.edit-account fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.edit-account legend {
  font-size: max(1vw, 18px);
  font-weight: 600;
  margin: 0.75rem 0;
}
.woocommerce-form-row span {
  font-size: max(0.8vw, 14px);
}
.woocommerce-Address,
.woocommerce-Address-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 1080px) {
  .equipments_list {
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  }

  .products_content {
    /* grid-template-columns: 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products_content .related-products--wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .products_content .related-products-list__item {
    min-height: initial;
  }

  /* .product_sidebar {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    position: fixed;
    top: 50%;
    left: 0;
    min-height: 100vh;
    height: auto;
    background-color: rgb(0 0 0 / 100%);
    transform: translate(-100%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
    overflow: scroll;
    pointer-events: auto;
  }

  .product_sidebar.sidebar--active {
    transform: translate(0%, -50%);
    opacity: 1;
    visibility: visible;
    height: 100vh;
    overflow-y: scroll;
  }

  .hide-sidebar {
    display: flex;
    position: fixed;
    top: 50vh;
    left: 0;
    padding: 1rem 0.35rem;

    z-index: 99;
    background-color: #ab1a1f;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in;
    writing-mode: vertical-rl;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .hide-sidebar--active {
    left: 15rem;
  } */
}

@media screen and (max-width: 800px) {
  /* .products_content {
    flex-direction: column;
    align-items: center;
  } */
  /* .equipments_list {
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
  .product_content_row {
    width: 80%;
  } */

  /* .product_sidebar.sidebar--active {
    padding-top: 8.5rem;
    padding-bottom: 2.5rem;
  } */

  .woocommerce-message {
    justify-content: space-between;
    gap: 0.5rem;
  }
  .woocommerce-message::before {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media screen and (max-width: 700px) {
  .equipments_list {
    grid-gap: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
  .product_content_row {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .woocommerce-notices-wrapper {
    position: relative;
    margin: auto;
    transform: initial;
    left: initial;
    top: initial;
  }
  .woocommerce-message {
    flex-direction: column-reverse;
    gap: 0.75rem;
    padding: 1rem 0.5rem;
    text-align: center;
  }
  .woocommerce-message::before {
    display: none;
  }
  .button.wc-forward {
    margin: auto;
  }

  .products_content {
    margin: max(1.5vh, 1rem) auto;
  }
}
@media screen and (max-width: 550px) {
  .equipments_list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
  .equipments_list {
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) and (orientation: landscape) {
  .equipments_list {
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
}
