.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  color: #494949;
  overflow: hidden;
}
.media-container {
  display: block;
  position: relative;
  height: 500px;
  flex-basis: 50%;
  overflow: hidden;
  line-height: 0;
  align-self: center;
}
.media-container:hover .controls {
  background-color: rgba(0, 0, 0, 0);
}
.media-container:hover .playpause {
  background-size: 100px 100px;
}
.media-container .controls {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}
.media-container .playpause {
  z-index: 10;
  background: url("../../images/icons/play-btn.png") 50% 50% no-repeat;
  background-size: 80px 80px;
}
.media-container .controls,
.media-container .playpause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@supports (object-fit: cover) {
  .media-container .video,
  .media-container .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
@supports not (object-fit: cover) {
  .media-container .video,
  .media-container .photo {
    min-width: 100%;
    min-height: 100%;
  }
}

.media-container .photo {
  transition: all 2.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.media-container .photo:hover {
  transform: scale(1.1);
}
.advantage .text-container {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 0 25px 0 75px;
}
.advantage .title {
  font-size: 24px;
  font-family: "Roboto Slab";
  font-weight: 400;
  color: #ad3232;
}
.advantage .text {
  font-size: 14px;
  line-height: 1.8;
}
.advantage .text > ul {
  line-height: 2.1;
}

.advantage:nth-child(even) .text-container {
  padding: 0 25px 0 40px;
}
.advantage:nth-child(odd) {
  flex-direction: row-reverse;
}
.clear {
  clear: both;
}

@media (max-width: 1600px) and (min-width: 1501px) {
  .advantage .text {
    line-height: 1.7;
  }
  .advantage .text > ul {
    line-height: 1.9;
  }
}
@media (max-width: 1500px) and (min-width: 1367px) {
  .media-container {
    height: 425px;
  }
  .advantage .title {
    line-height: 1.082;
  }
  .advantage .text {
    line-height: 1.6;
  }
  .advantage .text > ul {
    line-height: 1.8;
  }
}
@media (max-width: 1366px) {
  .media-container {
    height: 385px;
  }
}
@media (max-width: 1366px) and (min-width: 1351px) {
  .advantage .title {
    font-size: 24px;
    line-height: 1.082;
  }
  .advantage .text {
    font-size: 14px;
    line-height: 1.571;
  }
  .advantage .text > ul {
    line-height: 1.8;
  }
}
@media (max-width: 1350px) {
  .advantage .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .advantage .text-container {
    padding: 0 15px 0 40px;
  }
  .advantage:nth-child(even) .text-container {
    padding: 0 20px 0 40px;
  }
  .advantage .text {
    font-size: 13px;
    line-height: 1.4;
  }
  .advantage .text p {
    margin: 0.7em 0;
  }
  .advantage .text > ul {
    line-height: 1.7;
  }
}
@media (max-width: 1200px) and (min-width: 769px) {
  .media-container {
    height: 350px;
  }
  .advantage .title {
    font-size: 18px;
  }
  .advantage .text {
    font-size: 12px;
    line-height: 1.3;
  }
  .advantage .text > ul {
    line-height: 1.6;
    margin: 0.7em 0;
  }
}
@media (max-width: 1100px) and (min-width: 769px) {
  .advantage .text-container {
    padding: 0 10px 0 25px;
  }
  .advantage:nth-child(even) .text-container {
    padding: 0 10px 0 25px;
  }
  .advantage .title {
    font-size: 17px;
  }
  .advantage .text {
    font-size: 11px;
  }
  .advantage .text p {
    margin: 0.5em 0;
  }
  .advantage .text > ul {
    line-height: 1.5;
    margin: 0.5em 0;
  }
}

@media (max-width: 768px) {
  .advantage {
    flex-wrap: wrap;
  }
  .advantage .media-container,
  .advantage .text-container {
    flex-basis: 100%;
  }
  .wrapper .advantage .text-container {
    padding: 0 25px 70px 25px;
  }
}
