.home-main {
  height: 100vh;
  overflow: hidden;
}
.video-container {
  position: relative;
  width: 100%;
  height: 74vh;
  overflow: hidden;
}

#video-poster {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/home-video-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@supports (object-fit: cover) {
  .video-container video {
    width: 100.5%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
@supports not (object-fit: cover) {
  .video-container video {
    width: 100%;
    height: auto;
  }
}
.homepage-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: none;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 0 40px;
}
.homepage-advantages .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.homepage-advantages .item:not(:last-child) {
  padding-right: 15px;
  box-sizing: border-box;
}
.homepage-advantages .icon {
  display: inline-block;
  height: 62px;
  padding-right: 20px;
}
.homepage-advantages .item .title {
  font-size: 18px;
  flex-basis: calc(100% - 72px);
}

.homepage-product-slide-swiper .swiper-wrapper {
  display: flex;
  transition-timing-function: linear !important;
}
.ps_item {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
}
.ps_item.swiper-slide {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.ps_item_btn {
  display: block;
  height: 100%;
}
.ps_item.slick-slide {
  height: 250px;
}
.ps_item .ps_item_img {
  font-size: 0;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ps_item .ps_item_img img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transition: 0.3s;
  margin: 0 auto;
}
.ps_item .ps_item_cont h5 {
  color: #eaeaea;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
.ps_item {
  position: relative;

  overflow: hidden;
  z-index: 10;
  box-shadow: -10px 25px 50px rgb(0 0 0 / 30%);
}
.ps_item .ps_item_img {
  font-size: 0;
  overflow: hidden;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.ps_item .v-item-img img {
  position: relative;
  width: 100%;
  height: auto;
}
.ps_item .ps_item_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  transition: 0.5s;
  text-align: center;
  box-sizing: border-box;
}

.ps_item:hover .ps_item_cont {
  background: rgba(0, 0, 0, 0.5);
}
.ps_item .v-item-detail {
  position: relative;
  width: 80px;
  height: 0;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.ps_item .ps_item_cont p {
  color: #222222;

  padding: 0 30px;
  margin: 10px 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0.2s;
}
.ps_item:hover .ps_item_cont h5 {
  color: #fff;
}
.ps_item:hover .v-item-detail {
  width: 100%;
  height: 65%;
}
.ps_item .v-item-detail p {
  display: block;
}
.ps_item:hover .v-item-detail p {
  opacity: 1;
  transform: scale(1);
  color: #fff;
}
.ps_item .ps_item_btn .btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  color: #ffffff;
  background: #ad3232;
}
.homepage-product-slide-swiper {
  position: relative;
  height: 26vh;
  background: #fff;
  overflow: hidden;
}
.homepage-product-slide-swiper .nexts,
.homepage-product-slide-swiper .prevs {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px !important;
  height: 45px !important;
  padding: 0;
  box-sizing: border-box;
  background: #ad3232;
  padding: 10px;
}
.homepage-product-slide-swiper .nexts:hover,
.homepage-product-slide-swiper .prevs:hover {
  cursor: pointer;
}
.homepage-product-slide-swiper .nexts {
  right: -40px;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
}
.homepage-product-slide-swiper .prevs {
  left: -40px;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
}
.homepage-product-slide-swiper .nexts span {
  background: url(../../images/next.svg) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.homepage-product-slide-swiper .prevs span {
  background: url(../../images/back.svg) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.homepage-product-slide-swiper:hover .prevs {
  left: 0;
  opacity: 1;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
}
.homepage-product-slide-swiper:hover .nexts {
  right: 0;
  opacity: 1;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
}
@media (max-width: 1540px) {
  .ps_item .ps_item_cont h5 {
    font-size: 16px;
  }
}

@media (max-width: 1400px) and (min-width: 1201px) {
  .homepage-advantages {
    height: 120px;
  }
  .homepage-advantages .item .title {
    font-size: 15px;
  }

  .ps_item .ps_item_cont h5 {
    font-size: 13px;
  }
  .ps_item .v-item-detail p.ps_item_sort {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 1101px) {
  .homepage-advantages {
    height: 120px;
    margin: 0 20px;
  }
  .homepage-advantages .item .title {
    font-size: 14px;
  }
}
@media (max-width: 1100px) and (min-width: 993px) {
  .homepage-advantages {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 0 20px;
  }
  .homepage-advantages .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 50%;
    margin-bottom: 25px;
  }
  .homepage-advantages .item .title {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .homepage-advantages {
    margin: 30px 20px;
  }
  .homepage-advantages .item .title {
    font-size: 15px;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .homepage-advantages {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .homepage-advantages .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 50%;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  .main {
    height: calc(100vh - 35px);
  }
  .video-container {
    height: calc(74vh - 35px);
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .video-container {
    margin-bottom: 0;
  }
  .homepage-advantages {
    height: auto;
    padding-top: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
  .homepage-advantages .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-bottom: 25px;
  }
  .homepage-advantages .icon {
    flex-basis: initial;
    margin-bottom: 10px;
  }
}
@media (max-width: 654px) {
  .home-main {
    min-height: calc(100vh - 50px);
    height: auto;
    margin: 0 !important;
  }
  .video-container {
    height: calc(100vh - 200px);
  }
  .video-container video {
    width: 100.5%;
    height: 120%;
    margin-top: -30px;
  }
  .home-main {
    height: auto;
  }
}

@media (max-width: 480px) {
  .main {
    height: calc(100vh - 50px);
    margin: 0 0 0 0;
  }
  .video-container video {
    width: 100%;
    height: 100% !important;
    margin-top: -30px;
  }
  .video-container {
    /*   height: calc(100vh - 165px);*/
    /*        margin-bottom: -52px;    */
    margin-bottom: -105px;
  }
  .homepage-advantages {
    display: block;
    /*  height: 344px; */
  }
  .homepage-advantages .item {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }
  .homepage-advantages .item .icon {
    width: 72px;
    float: left;
    padding-right: 0;
  }
  .homepage-advantages .item .title {
    vertical-align: middle;
    position: absolute;
    left: 80px;
  }
  .homepage-advantages .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: 25%;
    align-items: center;
  }
}
@media (max-width: 380px) {
  .video-container video {
    width: 100%;
    height: 100% !important;
    margin-top: -30px;
  }
  .video-container {
    margin-bottom: -115px;
  }
}

@media (max-width: 320px) {
  .video-container {
    margin-bottom: -80px;
  }
}
