.wrapper {
  float: left;
  background-color: #1f1f1f;
  display: block;
  width: 100%;
  min-height: 100vh;
}
.container {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 29px;
}
.breadcrumbs {
  height: 24px;
  margin-top: 0;
  padding-top: 24px;
  list-style: none;
  color: #cecece;
  margin-bottom: 0;
  padding-left: 0;
}
.breadcrumbs > li {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  padding: 8px 0 8px 0;
}
.breadcrumbs > li + li:before {
  content: "/\00a0";
}
.breadcrumbs > li > a {
  text-decoration: none;
  font-size: 13px;
  color: #cecece;
}
.breadcrumbs > li > a:hover {
  border-bottom: 1px dotted;
}
.archive-title {
  color: #fff;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  padding-top: 20px;
}

.products {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}
.product-card-n {
  float: left;
  width: 25%;
  position: relative;
  vertical-align: text-top;
  padding: 30px 22px 0 0;
  box-sizing: border-box;
  min-height: 290px;
  transition: 0.5s linear;
}

.product-card-n:hover {
  transform: scale(1.1);
}
.prods-img-n {
  overflow: hidden;
  margin: 0 auto;
  width: 220px;
  height: 172px;
}
.prods-img-n > a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.prods-img-n > a > img {
  width: 100%;
  height: auto;
  position: relative;
}
.prods-img-n > a img.prod-logo {
  width: 80%;
  opacity: 0.4;
}
.product-title-n {
  padding: 10px 10px 0;

  text-align: center;
}
.product-title-n > a {
  text-decoration: none;
  color: #cecece;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.product-card {
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 21px;
  text-decoration: none;
  vertical-align: top;
  overflow: hidden;
}
.prods-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 196px;
  height: 196px;
  background-color: #0c0c0c;
  border-radius: 50%;
  align-items: center;
  overflow: hidden;
  border: 1px solid #444444;
  margin: 0 auto 16px;
  z-index: 1;
}
.prods-img > img {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: 1;
  color: #cecece;
}
.product-title {
  position: relative;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #cecece;
  width: 100%;
  padding: 0 10px;
  z-index: 2;
  box-sizing: border-box;
}
@media (min-width: 1601px) {
  .product-card-n {
    width: 20%;
    min-height: 318px;
  }
  .prods-img-n {
    width: 256px;
    height: 232px;
  }
}
@media (max-width: 1199px) and (min-width: 993px) {
  .product-card {
    width: 30%;
    padding: 9px;
  }

  .product-card-n {
    width: 33.333333%;
  }
}
@media (max-width: 992px) {
  .wrapper {
    min-height: calc(100vh - 35px);
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  .product-card {
    width: 30%;
    padding: 9px;
  }
  .product-card-n {
    width: 33.333333%;
    min-height: 286px;
  }
  .prods-img-n {
    width: 202px;
    height: 178px;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .product-card {
    width: 45%;
    padding: 9px;
  }
  .prods-img {
    width: 160px;
    height: 160px;
    margin-bottom: 6px;
  }
  .product-card-n {
    width: 50%;
    min-height: 286px;
  }
  .prods-img-n {
    width: 202px;
    height: 178px;
  }
}
@media (max-width: 654px) {
  .main {
    min-height: calc(100vh - 105px);
  }
  .wrapper {
    min-height: calc(100vh - 105px);
  }
  .breadcrumbs {
    display: none;
  }
}
@media (max-width: 480px) {
  .product-card {
    width: 96%;
    padding: 6px;
  }
  .prods-img {
    width: 160px;
    height: 160px;
    margin-bottom: 2px;
  }
  .product-card-n {
    width: 100%;
    min-height: 228px;
  }
  .prods-img-n {
    width: 202px;
    height: 178px;
    padding-right: 0;
  }
}
