a {
  text-decoration: none;
  color: #000;
}
.wrapper {
  padding: 0 29px;
}
.page-title {
  display: block;
  margin: 10px 0 0;
  font-size: 36px;
  font-family: "Roboto Slab";
  font-weight: 400;
  color: #ad3232;
}
.results-title {
  margin-top: 0;
  margin-bottom: 25px;
  color: #313131;
  font-family: "Open Sans";
  font-size: 24px;
}
.search-form {
  position: relative;
  display: block;
  width: 50%;
  padding-right: 135px;
  margin: 25px 0 40px 0;
  box-sizing: border-box;
}
.search-form input {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #313131;
  -webkit-appearance: none;
}
.search-form input:focus {
  outline: none;
  box-shadow: 0 0 2px #343745;
}
.search-form button {
  position: absolute;
  display: block;
  width: 115px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ad3232;
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans";
  height: 50px;
  padding: 6px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.search-form button:hover {
  background: #c94e4e;
}
.search-results .search-result {
  margin-bottom: 30px;
}
.search-result a {
  color: #5c8724;
  font-size: 24px;
}
.no-search-results {
  font-family: "Open Sans";
  font-size: 24px;
  color: #313131;
}

input[type="search"]:focus {
  outline: none;
  background: #f7f7f7;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: url(../../images/icons/cancel-search.svg);
  background-size: contain;
  cursor: pointer;
}
.pagination {
  margin: 50px 0 40px 0;
}
.nav-links {
  display: inline-block;
}
.nav-links .page-numbers {
  vertical-align: middle;
  padding: 5px 8px 5px 8px;
  margin-right: 5px;
  font-size: 18px;
  color: #ad3232;
}
.nav-links .page-numbers.current {
  background: #ad3232;
  color: #fff;
}
.nav-links .prev,
.nav-links .next {
  display: inline-block;
  padding: 6px 8px 6px 8px;
}
.nav-links .prev {
  background: url(../../images/icons/prev.svg) 50% 50% no-repeat;
}
.nav-links .next {
  background: url(../../images/icons/next.svg) 50% 50% no-repeat;
}
@media (min-width: 1681px) {
  .bread-h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .search-form {
    width: 50%;
  }
}
@media (max-width: 1680px) and (min-width: 1200px) {
  .search-form {
    width: 60%;
  }
}
@media (max-width: 1199px) and (min-width: 769px) {
  .search-form {
    width: 90%;
  }
}
@media (max-width: 992px) and (min-width: 655px) {
  .main {
    min-height: calc(100vh - 85px);
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .search-form {
    width: 100%;
  }
}
@media (max-width: 654px) {
  .main {
    min-height: calc(100vh - 145px);
  }
}
@media (max-width: 480px) {
  .search-form {
    width: 100%;
    padding-right: 0;
  }
  .search-form button {
    position: relative;
    margin: 0;
    margin-top: 22px;
  }
}
