.calculator {
  max-width: 1060px;
  margin: 60px auto;
}

.calculator-form {
  --form-inner-width: 60%;
}

.calculator .step.hide {
  display: none;
}
.calculator .step.show {
  display: block;
}
.calculator .step .step-container {
  border-radius: 8px;
  /* padding: 2.5vh 1.5vw; */
  padding: var(--form-padding);
  /* margin: 30px 0 0; */
  background: #fff;
  box-shadow: 0 0 46.74px 10.26px rgba(106, 106, 106, 0.1);
  position: relative;
  z-index: 10;
}
.calculator__title {
  text-align: center;
}
.calculator__description {
  text-align: center;
}
/* .calculator form input[type="number"],
.calculator form input[type="text"],
.calculator form input[type="email"],
.calculator form select,
.calculator form .btn {
  height: auto;
  display: inline-block;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  background: #fff;
  padding: 10px 15px;
  font-weight: 400;
}
.calculator form .form-row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f3f6;
}
.calculator form .form-row.not_border {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.calculator form .btn:hover,
.calculator form .btn:focus {
  background: #ab1a1f;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.calculator form .btn.load .spinner-border {
  display: inline-block;
}
.calculator form .btn .spinner-border {
  display: none;
  margin-left: 15px;
  color: #fff;
} */
.calculator .result {
  display: none;
  margin: 15px 0;
  position: relative;
  z-index: 90;
  min-width: 60vw;
}
.calculator .result .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;

  /* margin: 0 -15px; */
}
.calculator .result .cards .card {
  /* margin: 15px; */
  width: calc(50% - 0.75rem);

  font-size: 16px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 46.74px 10.26px rgba(106, 106, 106, 0.1);
}
.calculator .result .cards .card .card-header {
  padding: 20px;
  font-weight: 700;
  font-size: max(1vw, 14px);
  color: #fff;
}
.calculator .result .cards .card .card-body {
  padding: 15px 0;
}
.calculator
  .result
  .cards
  .card
  .card-body
  .form-row:first-child
  div:first-child {
  border-right: 2px solid #dcdcdc;
}
.calculator .result .cards .card .card-body .card-title {
  font-size: 16px;
  margin: 10px 0;
  color: #353535;
}
.calculator .result .cards .card .card-body .value {
  font-weight: 700;
  font-size: max(1.35vw, 22px);
  line-height: normal;
  margin: 0 0 15px;
}
.calculator .result .cards .card .card-body .value .val {
  text-transform: uppercase;
}
.calculator .result .cards .card .card-body .value.manual {
  color: #f0a200;
}
.calculator .result .cards .card .card-body .value.automatic {
  color: #7ad233;
}
.calculator .result .cards .card .card-body .total-row-title {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0;
  text-transform: uppercase;
}
.calculator .result .cards .card .card-body .total {
  font-size: max(1.35vw, 22px);
  font-weight: 700;
  padding: 20px 0;
  color: #d80303;
  background: #f8f8f8;
}
.calculator .result .cards .card .card-body .message {
  font-size: 14px;
  padding: 10px 0;
}
.calculator .result .cards .card .card-body .note {
  font-size: 11px;
  padding: 0 10px;
}
.calculator .form-group.col-md-4 {
  width: calc(100% / 3);
}
.styled-select {
  padding: 10px 15px;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
}
.calculator form .form-group {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.calculator form .form-group input {
  width: 100%;
}
.calculator form .row {
  display: flex;
}
.calculator form .field50 {
  width: 50%;
}
.calculator form .field100 {
  width: 100%;
}
.calculator form input[type="submit"] {
  width: auto;
  margin: 0 auto;
  display: block;
}
.calculator form input[type="submit"]:hover {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
}
.first_form_active.form {
  display: none;
}
.get_forms .form-row .cvbnm {
  display: flex;
  justify-content: center;
}
/* .calculator .result .cards .card {
  width: calc(50% - 30px);
} */
.calculator .result .cards .card-header {
  background-color: #ab1a1f;
}
.calculator .result .cards .row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator .result .cards .col-xs-6 {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.calculator .result .cards .col-xs-6:nth-child(1) {
  border-right: 1px solid #dcdcdc;
}
.calculator .result .cards .col-xs-6:nth-child(2) {
  border-left: 1px solid #dcdcdc;
}

/* My styles */

.calculator label {
  display: block;
}

.calculator .form-inner {
  --form-inner-gap: 5vh;
}

.calculator .form-inner__item::after {
  position: absolute;
  display: block;
  background-color: #f2f3f6;
  content: "";
  bottom: -2.5vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form.calculation {
  --form-min-width: 60vw;
  width: 100%;
}

.form.calculation .form-inner {
  width: var(--form-inner-width);
}

@media screen and (max-width: 1080px) {
  .calculator-form {
    --form-min-width: 80vw;
  }

  .form.calculation .form-inner {
    --form-inner-width: 80vw;
  }

  .calculator .result .cards {
    flex-direction: column;
    align-items: center;
  }

  .calculator .result .cards .card {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .calculator-form {
    --form-min-width: 100%;
  }
  .calculator .form-inner {
    --form-inner-gap: 3.5vh;
    --form-padding: 5vh 3.5vw;
  }

  .calculator .result .cards .card {
    width: 100%;
  }

  .calculator .form-inner__item::after {
    bottom: -1.75vh;
  }

  .calculator .step .step-container {
    box-shadow: none;
  }

  .track-button {
    --button-width: 100%;
  }
  #Enterlastname > label {
    display: none;
  }
}
