.another_equipment {
  background-image: url(../../images/fon6.webp);
  /* padding: 100px 0 0 0; */
}
.another_equipment--wrapper {
  margin: 5vw auto 0;
}
.another_equipment .section_title {
  text-align: center;
  color: #fff;
  /* margin-bottom: 60px; */
}
.caterpillar {
  overflow: hidden;
  white-space: nowrap;
}

.caterpillar__item {
  display: inline-block;
  position: relative;
  text-align: center;
  transition: width 0.6s linear, height 0.6s linear, transform 0.6s linear;
  vertical-align: top;
  white-space: normal;
  width: 20%;
  will-change: transform;
}
.back {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.3s linear 0.2s;
  width: 100%;
  z-index: 1;
  background: #000;
}
.back .mouse-parallax {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  transform: translate(0, 0);
  transition: 0.1s linear;
}

.caterpillar__item--press .back .mouse-parallax {
  background-image: url(../../images/mouse-parallax/001.jpg);
}
.caterpillar__item--dryers .back .mouse-parallax {
  background-image: url(../../images/mouse-parallax/003.jpg);
}
.caterpillar__item--flash .back .mouse-parallax {
  background-image: url(../../images/mouse-parallax/004.jpg);
}
.caterpillar__item--pre-press .back .mouse-parallax {
  background-image: url(../../images/mouse-parallax/005.jpg);
}
.caterpillar__item--accessories .back .mouse-parallax {
  background-image: url(../../images/mouse-parallax/006.jpg);
}

.back .mouse-parallax img {
  opacity: 0.25;
}
#advantages .front {
  position: relative;
  transition: 0.6s;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.caterpillar__item .caterpillar__description {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 20px 0;
  transform-origin: center top;
  transition: color 0.5s linear, transform 0.5s linear;
  opacity: 0;
  height: 100px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.caterpillar__item .caterpillar__description ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.caterpillar__item .link_to_item a {
  color: #fff;
  background: #ab1a1f;
}
.caterpillar__item .link_to_item {
  margin: 20px 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.35s;
  -webkit-transform: translate3d(0, -60px, 0);
  transform: translate3d(0, -60px, 0);
}
.caterpillar.moving .caterpillar__item {
  width: 15%;
}
.caterpillar.moving .caterpillar__title {
  font-size: 13px;
}
.caterpillar__item:hover {
  width: 40%;
}
.caterpillar__item:hover .caterpillar__description {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-delay: 0.3s;
}
.caterpillar__item:hover .link_to_item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}
.caterpillar__item:hover .back {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.caterpillar__item:hover .caterpillar__title {
  color: #fff;
  font-size: 28px;
}
#advantages .caterpillar.moving .parallax-parent:hover .front {
  transition: 0.6s;
}
.caterpillar__title {
  font-size: 0.938vw;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
  padding: 0 8px;
  position: relative;
  transition: color 0.5s linear, font-size 0.5s linear;
}
.caterpillar__item svg {
  fill: #fff;
  width: 7.813vw;
  height: auto;
}
.caterpillar__item:hover svg {
  fill: #cd2122;
  -webkit-transition: 0.5s;
  transform-origin: center;
  transform: scale(1.1);
}
.caterpillar__item:hover p {
  color: #daeafa;
}
