.compare_content {
  margin: 60px auto;
}
.simple_bg_head {
  position: relative;
  background: #f8f8f8;
  padding-top: 65px;
  padding-bottom: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.simple_bg_head #header_title {
  padding-top: 0px;
  margin-top: -20px;
}
.simple_bg_head #header_title .title_row {
  padding-top: 0px;
  background: none;
  min-height: inherit;
  padding-bottom: 20px;
}
.simple_bg_head #header_title .title_row h1,
.simple_bg_head #header_title .title_row .page-title {
  font-size: 30px;
  line-height: 1.1;
  text-transform: inherit;
  font-weight: bold;
  margin: 0.67em 0;
  margin-top: 0px;
  margin-bottom: 8px;
}
.simple_bg_head #header_title .title_row .title_row_icon {
  margin-left: -27px;
  top: -78px;
}
.title_icon_scales .title_row .title_row_icon::before {
  content: "\E866";
  font-size: 22px;
}

#tm-main h1.uk-margin-top-remove {
  font-size: 30px;
  text-transform: inherit;
  font-weight: bold;
}

.compare_menu {
  padding: 25px 0;
  background: #ffffff;
  border-radius: 9px;
  margin-bottom: 26px;
}

.compare_menu_bottom {
  padding: 0px;
  border-radius: 0px;
  background: none;
}

.compare_menu .cm_row1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  align-content: center;
}

.compare_menu .cm_row1 .cm_item {
  width: 18%;
  padding-left: 14px;
}

.compare_menu .cm_row1 .cm_item_title {
  width: 28%;
  padding-left: 0px;
  font-weight: bold;
  color: #353535;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.compare_menu .cm_row1 .cm_item .cm_button {
  min-height: 49px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 14px;
  padding-left: 18px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #353535;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 25px 2.3px rgba(0, 0, 0, 0);
}

.compare_menu .cm_row1 .cm_item .cm_button::before {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/compare_sprite.png") no-repeat top left;
  content: "";
  margin-right: 12px;
  transition: all 0s ease;
}

.compare_menu .cm_row1 .cm_item .cm_button:hover::before {
  background-position: -20px 0;
}

.compare_menu .cm_row1 .cm_item .cm_button.active,
.compare_menu .cm_row1 .cm_item .cm_button.active:hover {
  border-color: #fff;
  box-shadow: 0px 2px 25px 2.3px rgba(0, 0, 0, 0.1);
}

.compare_menu .cm_row1 .cm_item .cm_button.active::before,
.compare_menu .cm_row1 .cm_item .cm_button.active:hover::before {
  background-position: -40px 0;
}

.compare_menu .cm_row2 .cm_row2_helper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-top: 30px;
}

.compare_menu .cm_row2 .cm_row2_helper::before,
.compare_menu .cm_row2 .cm_row2_helper::after {
  height: 1px;
  background: #dcdcdc;
  display: block;
  content: "";
  flex-grow: 1;
}

.compare_menu .cm_row2 .button {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}

#comparepresses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

#comparepresses .compare_item {
  cursor: pointer;
  overflow: hidden;
}

#comparepresses .compare_item {
  width: 33%;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 14px;
}

#comparepresses .image_part {
  width: 100%;
  height: 210px;
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

#comparepresses .image_part img {
  max-width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

#comparepresses .title_part {
  min-height: 92px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  padding: 22px 10px 18px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #353535;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
}

#comparepresses .compare_item:hover .title_part,
#comparepresses .compare_item.selected_item .title_part {
  background: #c12126;
  color: #fff;
}

#comparepresses .title_part .c_icon {
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 6.1px 3.9px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  background: #fff;
}

#comparepresses .title_part .c_icon > div,
#comparepresses .title_part .c_icon > div::before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100%;
  color: #d52e2e;
  transition: all 0.3s ease;
}

#comparepresses .title_part .c_icon > div::before {
  font-family: "anatol";
  content: "\E834";
  font-size: 15px;
}

#comparepresses .title_part .c_icon > div.c_active::before {
  color: #fff;
  content: "\E835";
  background: #ab1a1f;
  background: -moz-linear-gradient(top, #ab1a1f 0%, #c12126 100%);
  background: -webkit-linear-gradient(top, #ab1a1f 0%, #ef9e0e 100%);
  background: linear-gradient(to bottom, #dc4942 0%, #c12126 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab1a1f', endColorstr='#c12126',GradientType=0 );
  opacity: 0;
}

#comparepresses .selected_item .title_part .c_icon > div::before {
  opacity: 0;
}

#comparepresses .selected_item .title_part .c_icon > div.c_active::before {
  opacity: 1;
}

.uk-text-success:not(td) {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../../img/yes.png") no-repeat;
}
.uk-text-warning:not(td) {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../img/no.png") no-repeat;
}

.uk-text-warning {
  background-image: url("../../img/no.png");
}

.compare_results table,
.compare_results tr,
.compare_results th,
.compare_results td {
  border: 0px;
}

.compare_results .overflow-container {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
}

.compare_results tbody > tr:nth-child(4n-2) {
  background: #efefef;
}

.compare_results tbody td {
  height: 48px;
  vertical-align: middle;
  font-size: 14px;
}
.compare_results tbody td.tr_title {
  font-weight: 600;
}

.compare_results tbody td .button {
  min-width: 80px;
  width: inherit;
}

.compare_results th img {
  width: 80px;
  height: auto;
}

.compare_results thead th {
  height: auto;
  font-size: 14px;
  color: #353535;
  font-weight: bold;
  text-align: center;
}

.compare_results .button.white_button {
  position: relative;
}

.title_icon_clipboard .title_row .title_row_icon::before {
  content: "\E813";
}
.tub_toggle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.tub_check {
  padding: 15px 10px;
  width: 250px;
  border: 1px solid #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #353535;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 0.8s;
  box-shadow: 0px 2px 25px 2.3px rgb(0 0 0 / 10%);
  font-weight: 600;
}
.tub_check:hover {
  border-color: #fff;
  box-shadow: 0px 2px 25px 2.3px rgb(0 0 0 / 10%);
  background-color: #c12126;
  color: white;
}
.tub_check_check {
  border-color: #fff;
  box-shadow: 0px 2px 25px 2.3px rgb(0 0 0 / 10%);
  background-color: #c12126;
  color: white;
}
.tub_manual_presses {
  margin: 0 0 0 50px;
}
/*.manual_pres {
  display: block !important;
}*/
.not_active {
  display: none !important;
  top: 100px;
  opacity: 0;
}

#comparepresses .compare_item {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all ease 0.8s;
}
@media all and (max-width: 1100px) {
  .compare_menu .cm_row1 .cm_item {
    width: 25%;
  }
  .compare_menu .cm_row1 .cm_item_title {
    width: 100%;
    margin-bottom: 20px;
  }
  .tub_toggle {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 900px) {
  .compare_results tbody td .button {
    font-size: 12px;
    padding: 5px 10px;
    min-height: inherit;
  }
}

/*.page-template-page-template-compare #header {
  display: none !important;
}
.page-template-page-template-compare #main-content {
  display: none;
}
.page-template-page-template-compare .container-fluid {
  display: none;
}

.page-template-page-template-compare .another_equipment {
  display: none;
}
.page-template-page-template-compare .get_in_touch {
  display: none;
}
.page-template-page-template-compare .footer {
  display: none;
}
.page-template-page-template-compare .copyright {
  display: none;
}*/
/*.purechat-container {
  display: none;
}*/
.thunder_img,
.lightning_img,
.tornado_img {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain !important;
}
.thunder_img {
  background: url(../img/thunder.png) no-repeat;
}
.lightning_img {
  background: url(../img/lighting.png) no-repeat;
}
.tornado_img {
  background: url(../img/tornado.png) no-repeat;
}
.td_img_wrap {
  height: 150px !important;
}
