.blog-post--wrapper {
  margin: max(7.5vh, 2.5rem) auto 0;
  display: grid;

  grid-template-columns: 1fr 25%;
  grid-gap: 5vw;
  justify-items: center;
  /* justify-content: space-between; */
}

.blog-post {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.blog-post__title {
  --page-title-font-size: max(2.2vw, 22px);
  --page-title-color: #363636;
  text-align: justify;
}

.blog-post__content {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.blog-post__content h2 {
  font-size: max(1.25vw, 16px);
  font-weight: 600;
}

.blog-post__content a,
.blog-post__content p {
  font-size: max(0.8vw, 14px);
  text-align: justify;
}

.blog-post__content a {
  transition: color 0.3s ease-in;
}

.blog-post__content a:hover {
  color: #ab1a1f;
}

/* Related blog posts slider*/

.related-articles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.related-articles--wrapper {
  margin: max(2.5vh, 1.5rem) auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5vh;
  padding: max(2.5vh, 1.5rem) 0;
}

.related-articles__pagination {
  position: relative;
}

.slider-blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 7vw) / 3);
  box-shadow: 0 0 2.5px 0 #ccc;
  min-height: 16.5rem;
}

.slider-blog-post:hover .slider-blog-post__img::before,
.slider-blog-post:hover .slider-blog-post__link {
  visibility: visible;
  opacity: 1;
}

.slider-blog-post__img {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.slider-blog-post__img img {
  width: 100%;
}
.slider-blog-post__img::before {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 65%);
  content: "";
  transition: all 0.3s ease-in;
}

.slider-blog-post__link {
  --button-background-color: transparent;
  --button-box-shadow: inset 0 0 1px 1px var(--button-base-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: all 0.3s ease-in;
  visibility: hidden;
  opacity: 0;
}

.slider-blog-post__link:hover {
  --button-background-color: rgb(255 0 0 / 0.35);
  /* --button-box-shadow: inset 0 0 2px 1px var(--button-base-color); */
}

.slider-blog-post__title {
  color: #363636;
  font-weight: 600;
  font-size: max(0.9vw, 15px);

  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.hide-sidebar {
  display: none;
}

@media screen and (max-width: 1366px) {
  .slider-blog-post {
    min-height: 14.5rem;
  }
}
@media screen and (max-width: 1080px) {
  .slider-blog-post {
    min-height: 13.5rem;
  }
}

@media screen and (max-width: 900px) {
  .blog-post--wrapper {
    grid-template-columns: 1fr;
  }
  .sidebar-right {
    /* display: none; */
    position: fixed;
    top: 50%;
    right: 0;
    max-width: 15rem;
    width: 100%;
    height: 100vh;
    padding: 2.5vh 1rem;
    background-color: rgb(0 0 0 / 75%);
    /* transform: translate(0, -50%); */
    transform: translate(100%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
  }
  .blog-post {
    width: 100%;
  }

  .sidebar-right.sidebar--active {
    transform: translate(0%, -50%);
    opacity: 1;
    visibility: visible;
  }

  .hide-sidebar {
    display: flex;
    position: fixed;
    top: 50vh;
    right: 0;
    padding: 1rem 0.35rem;

    z-index: 99;
    background-color: #ab1a1f;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in;
    writing-mode: vertical-rl;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
  }

  .hide-sidebar--active {
    right: 15rem;
    /* transform: translate(-100%, -50%); */
  }

  .sidebar--wrapper {
    gap: 0.75vh;
    position: relative;
  }
  .sidebar__title {
    font-size: max(3.75vw, 24px);
    color: #fff;
  }
  .sidebar-post__img {
    max-width: 70%;
  }

  .sidebar-post__title {
    color: #fff;
  }

  .widget_block {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .related-articles--wrapper {
    --container-width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .blog-post {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .blog-post__title {
    text-align: center;
  }
}
